 h1{
  text-align: center;
  background: rgb(153, 17, 51);
  color: #EB902F;

}

.header-nav {
 
  display: inline;
  padding: 10px;
  margin: 10px;
  border: 1px solid red;

}


footer {
  text-align:right;
  font-size: 12px;
}
